# --- Node/React/Vite ---
node_modules/
dist/
.tmp/
.cache/
coverage/
*.log

# --- Entornos ---
.env
.env.*
!.env.example

# --- SO / IDE ---
.vscode/
.DS_Store

# --- Puppeteer / tmp ---
tmp-puppeteer/
puppeteer/.local-chromium/
