@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo blanco al centro y laterales rojos */
body {
  min-height: 100vh;
  background: linear-gradient(90deg, #b30000 0%, #fff 15%, #fff 85%, #b30000 100%);
  color: #4b2e19;
  font-family: 'Inter', 'Segoe UI', sans-serif;
}

/* Scrollbar personalizado */
::-webkit-scrollbar { width: 8px; background: #fff4f4; }
::-webkit-scrollbar-thumb { background: #b03a1a; border-radius: 5px; }

